.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.loader {
    display: flex;
    justify-content: center;
}